@import url("../css/reset.css");
@import url("./animation.css");
@import url("./header.css");
.ani-fadeIn {
  animation: fadeInAni 0.6s both ease-in;
}

.ani-up2 {
  animation: upAni2 1s both ease-in-out;
}

@keyframes fadeInAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes upAni2 {
  0% {
    transform: translateY(140px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.delay-0 {
  animation-delay: 0;
}

.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

html {
  overflow: hidden;
}

main {
  width: 100%;
  position: relative;
}
main #sec1 {
  height: 100vh;
  width: 100%;
  transition: all 0.3s;
  background: url(/img/service/service_main_1.jpg) 50% 100% no-repeat;
  background-size: cover;
}
main #sec1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition: all 2s;
  height: 100vh;
  width: 100%;
  opacity: 0;
  background: url(/img/service/service_main_2.jpg) 50% 100% no-repeat;
  background-size: cover;
}
main #sec1 .title-box {
  padding-top: 152px;
}
main #sec1 .title-box h2 {
  font-family: "Pretendard Variable";
  font-weight: 800;
  font-size: 160px;
  color: #FFFFFF;
  line-height: 192px;
  opacity: 0;
  text-align: center;
}
main #sec1 .title-box h2:nth-child(2) {
  color: #ffe8d9;
}
main #sec1 .text-box {
  padding-top: 60px;
  opacity: 0;
}
main #sec1 .text-box p {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 31px;
  text-align: center;
}
main #sec1.on::before {
  opacity: 1;
}
main #sec2 {
  width: 100%;
  background: #F5F5F5;
}
main #sec2 .container {
  padding: 80px 55px 0 55px;
}
main #sec2 .container .wrap .area {
  padding-bottom: 160px;
}
main #sec2 .container .wrap .area h2 {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  line-height: 58px;
}
main #sec2 .container .wrap .area h2 i {
  color: #FF5C35;
}
main #sec2 .container .wrap .area p {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 160%;
  padding: 20px 0 40px 0;
}
main #sec2 .container .wrap .area.area1 ul {
  display: flex;
  margin-left: -15px;
}
main #sec2 .container .wrap .area.area1 ul li {
  width: 370px;
  height: 370px;
  background: #FFFFFF;
  position: relative;
  padding: 30px 30px 30px 30px;
  border: 1px solid #8E8E93;
  border-radius: 16px;
  margin: 15px;
  text-align: center;
}
main #sec2 .container .wrap .area.area1 ul li h3.top {
  font-family: "Gotham";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 19px;
}
main #sec2 .container .wrap .area.area1 ul li .middle {
  padding: 80px 0;
}
main #sec2 .container .wrap .area.area1 ul li .middle span {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 160%;
}
main #sec2 .container .wrap .area.area1 ul li .middle h2 {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  line-height: 160%;
}
main #sec2 .container .wrap .area.area1 ul li a {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: inline-block;
  width: 310px;
  background: #FF5C35;
  text-align: center;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 56px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
main #sec2 .container .wrap .area.area2 .bx-wrapper {
  background: none;
  overflow: visible;
  box-shadow: none;
  border: none;
  max-width: 100% !important;
  width: 100%;
}
main #sec2 .container .wrap .area.area2 li {
  width: 370px;
  height: 370px;
  border: 1px solid #8E8E93;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
main #sec2 .container .wrap .area.area2 li i {
  display: inline-block;
  width: 92px;
  height: 42px;
  background: #FF5C35;
  position: absolute;
  top: 40px;
  left: 40px;
}
main #sec2 .container .wrap .area.area2 li h2 {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: right;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 43px;
}
main #sec2 .container .wrap .area.area2 li h2 span {
  font-family: "Pretendard Variable";
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  line-height: 160%;
  padding-top: 10px;
}
main #sec2 .container .wrap .area.area3 li {
  background: #FFFFFF;
  width: 370px;
  height: 370px;
  border: 1px solid #8E8E93;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
main #sec2 .container .wrap .area.area3 li i {
  display: inline-block;
  width: 92px;
  height: 42px;
  background: #FF5C35;
  position: absolute;
  top: 40px;
  left: 40px;
}
main #sec2 .container .wrap .area.area3 li h2 {
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-align: right;
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 43px;
}/*# sourceMappingURL=service.css.map */