
header{
    position: fixed; width: 100%; height: 64px; z-index: 3;
    .container{
        padding: 16px 32px 16px 55px;
        .wrap{
            nav{
                display: flex; flex-flow: row wrap;
                position: relative;
                h1.left-box{
                    a{
                        position: absolute; top:0; left: 0;
                        width:32px; height:32px;
                        background:white;
                    }
                }
                ul.right-box{
                    width: 100%; text-align: right;
                    li{
                        display: inline-block; line-height: 32px;
                        margin-left:16px;
                        a{
                            @include tit_pretendard(700, 12px,$white,14px);
                            transition: all .3s;
                            &:hover{opacity: .8;}
                        }
                    }
                }
            }
        }
    }
}