@import url('../css/reset.css');
@import url('./animation.css');
@import url('./header.css');



$font2 : 'Gotham';
$white:#FFFFFF;
$black : #000000;
$orange:#FF5C35;
$blue:#00A7E1;
$green:#00B21D;
$ivory:#FFF2DF;
$gray:#F5F5F5;
$darkGray:#8E8E93;
$about_background : 1,2,3,4;

@mixin tit_pretendard($weight,$size,$color,$lineHeight){
    font-family:'Pretendard Variable';
    font-weight:$weight; font-size:$size; color:$color; line-height: $lineHeight;
};
@mixin tit_gotham($weight,$size,$color,$lineHeight){
    font-family:'Gotham';
    font-weight:$weight; font-size:$size; color:$color; line-height: $lineHeight;
};

html{overflow: hidden;}
