@import url('../css/reset.css');
@import url('./animation.css');
@import url('./header.css');

.ani-fadeIn{animation: fadeInAni .6s both ease-in;}
.ani-up2{animation: upAni2 1s both ease-in-out;}

@keyframes fadeInAni { //페이드 인 
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes upAni2 { //마지막쯤 바닥으로 살짝 bouncing하는 모션
    0% {transform: translateY(140px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

//그 외 순차적인 애니메이션을 위한 클래스
.delay-0{animation-delay: 0;}
.delay-1{animation-delay: .3s;}
.delay-2{animation-delay: .6s;}
.delay-3{animation-delay: .9s;}
.delay-4{animation-delay: 1.2s;}
.delay-5{animation-delay: 1.5s;}

$font2 : 'Gotham';
$white:#FFFFFF;
$black : #000000;
$orange:#FF5C35;
$blue:#00A7E1;
$green:#00B21D;
$ivory:#FFF2DF;
$gray:#F5F5F5;
$darkGray:#8E8E93;
$about_background : 1,2,3,4;

@mixin tit_pretendard($weight,$size,$color,$lineHeight){
    font-family:'Pretendard Variable';
    font-weight:$weight; font-size:$size; color:$color; line-height: $lineHeight;
};
@mixin tit_gotham($weight,$size,$color,$lineHeight){
    font-family:'Gotham';
    font-weight:$weight; font-size:$size; color:$color; line-height: $lineHeight;
};

html{overflow: hidden;}
main{
    width: 100%; position: relative;
    #sec1{
        height: 100vh; width: 100%;
        transition: all .3s;
        background: url(/img/service/service_main_1.jpg) 50% 100% no-repeat;
        background-size: cover;
        &::before{
            content: ''; position: absolute; top: 0; left: 0;
            transition: all 2s;
            height: 100vh; width: 100%; opacity: 0;
            background: url(/img/service/service_main_2.jpg) 50% 100% no-repeat;
            background-size: cover;
        }
        .title-box{
            padding-top: 152px; 
            h2{
                @include tit_pretendard(800,160px,$white,192px); opacity: 0;
                text-align: center;
                &:nth-child(2){
                    color:#ffe8d9;
                }
            }
        }
        .text-box{
            padding-top: 60px; opacity: 0;
            p{
                @include tit_pretendard(400, 26px, $white, 31px);
                text-align: center;
            }
        }
        &.on{
            &::before{
                opacity: 1;
            }
        }
    }
    #sec2{
        width: 100%; background: $gray;
        .container{
            padding: 80px 55px 0 55px;
            .wrap{
                .area{
                    padding-bottom: 160px;
                    h2{
                        @include tit_pretendard(700, 48px, $black, 58px);
                        i{color:$orange;}
                    }
                    p{@include tit_pretendard(400, 16px, $black, 160%); padding: 20px 0 40px 0;}
                    &.area1{
                        ul{
                            display: flex; margin-left:-15px;
                            li{
                                width: 370px; height: 370px; background: $white; 
                                position: relative;
                                padding: 30px 30px 30px 30px;
                                border: 1px solid $darkGray; border-radius: 16px;
                                margin: 15px; text-align: center;
                                h3.top{
                                    @include tit_gotham(400, 16px, $black, 19px);
                                }
                                .middle{
                                    padding: 80px 0;
                                    span{@include tit_pretendard(400, 16px, $black, 160%);}
                                    h2{@include tit_pretendard(700, 40px, $black, 160%);}
                                }
                                a{
                                    position: absolute; bottom: 30px; left: 30px;
                                    display: inline-block; width: 310px;
                                    background: $orange; text-align: center;
                                    @include tit_pretendard(700, 16px, $white, 56px);
                                    box-shadow: 0px 2px 8px rgba(0,0,0,.1); border-radius: 8px;
                                }
                            }
                        }
                    }
                    &.area2{
                        .bx-wrapper{
                            background: none; overflow: visible; box-shadow: none;
                            border: none; max-width: 100% !important; width: 100%;
                        }
                        li{
                            width: 370px; height: 370px; border: 1px solid $darkGray;
                            background:$white;
                            border-radius: 16px; box-shadow: 0px 2px 8px rgba(0,0,0,.1);
                            position: relative;
                            i{
                                display: inline-block; width: 92px; height: 42px; background: $orange;
                                position: absolute; top: 40px; left: 40px;
                            }
                            h2{
                                position: absolute; bottom: 40px; right: 40px; text-align: right;
                                @include tit_pretendard(700, 36px, $black, 43px);
                                span{@include tit_pretendard(400, 16px, $black, 160%); padding-top:10px;}
                            }
                        }    
                    }
                    &.area3{
                        li{
                            background:$white;
                            width: 370px; height: 370px; border: 1px solid $darkGray;
                            border-radius: 16px; box-shadow: 0px 2px 8px rgba(0,0,0,.1);
                            position: relative;
                            i{
                                display: inline-block; width: 92px; height: 42px; background: $orange;
                                position: absolute; top: 40px; left: 40px;
                            }
                            h2{
                                position: absolute; bottom: 40px; right: 40px; text-align: right;
                                @include tit_pretendard(700, 36px, $black, 43px);
                            }
                        }
                    }
                }
            }
        }
    }

}